<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="apple-mobile-web-app-capable" content="yes" /><meta name="apple-mobile-web-app-status-bar-style" content="black" /><meta name="format-detection" content="telephone=no" /><title>UNDANGAN Danamon Stage61</title><style type="text/css">
    /* Resets */
    .ReadMsgBody { width: 100%; background-color: #ebebeb;}
    .ExternalClass {width: 100%; background-color: #ebebeb;}
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
    a[x-apple-data-detectors]{
        color:inherit !important;
        text-decoration:none !important;
        font-size:inherit !important;
        font-family:inherit !important;
        font-weight:inherit !important;
        line-height:inherit !important;
    }        
    body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
    body {margin:0; padding:0;}
    .yshortcuts a {border-bottom: none !important;}
    .rnb-del-min-width{ min-width: 0 !important; }

    /* Add new outlook css start */
    .templateContainer{
        max-width:590px !important;
        width:auto !important;
    }
    /* Add new outlook css end */

    /* Image width by default for 3 columns */
    img[class="rnb-col-3-img"] {
    max-width:170px;
    }

    /* Image width by default for 2 columns */
    img[class="rnb-col-2-img"] {
    max-width:264px;
    }

    /* Image width by default for 2 columns aside small size */
    img[class="rnb-col-2-img-side-xs"] {
    max-width:180px;
    }

    /* Image width by default for 2 columns aside big size */
    img[class="rnb-col-2-img-side-xl"] {
    max-width:350px;
    }

    /* Image width by default for 1 column */
    img[class="rnb-col-1-img"] {
    max-width:550px;
    }

    /* Image width by default for header */
    img[class="rnb-header-img"] {
    max-width:590px;
    }

    /* Ckeditor line-height spacing */
    .rnb-force-col p, ul, ol{margin:0px!important;}
    .rnb-del-min-width p, ul, ol{margin:0px!important;}

    /* tmpl-2 preview */
    .rnb-tmpl-width{ width:100%!important;}

    /* tmpl-11 preview */
    .rnb-social-width{padding-right:15px!important;}

    /* tmpl-11 preview */
    .rnb-social-align{float:right!important;}

    @media only screen and (min-width:590px){
    /* mac fix width */
    .templateContainer{width:590px !important;}
    }

    @media screen and (max-width: 360px){
    /* yahoo app fix width "tmpl-2 tmpl-10 tmpl-13" in android devices */
    .rnb-yahoo-width{ width:360px!important;}
    }

    @media screen and (max-width: 380px){
    /* fix width and font size "tmpl-4 tmpl-6" in mobile preview */
    .element-img-text{ font-size:24px!important;}
    .element-img-text2{ width:230px!important;}
    .content-img-text-tmpl-6{ font-size:24px!important;}
    .content-img-text2-tmpl-6{ width:220px!important;}
    }

    @media screen and (max-width: 480px) {
    td[class="rnb-container-padding"] {
    padding-left: 10px !important;
    padding-right: 10px !important;
    }

    /* force container nav to (horizontal) blocks */
    td[class="rnb-force-nav"] {
    display: block;
    }
    }

    @media only screen and (max-width : 600px) {

    /* center the address &amp; social icons */
    .rnb-text-center {text-align:center !important;}

    /* force container columns to (horizontal) blocks */
    td[class~="rnb-force-col"] {
    display: block;
    padding-right: 0 !important;
    padding-left: 0 !important;
    width:100%;
    }

    table[class~="rnb-container"] {
     width: 100% !important;
    }

    table[class="rnb-btn-col-content"] {
    width: 100% !important;
    }
    table[class="rnb-col-3"] {
    /* unset table align="left/right" */
    float: none !important;
    width: 100% !important;

    /* change left/right padding and margins to top/bottom ones */
    margin-bottom: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #eee;*/
    }

    table[class="rnb-last-col-3"] {
    /* unset table align="left/right" */
    float: none !important;
    width: 100% !important;
    }

    table[class="rnb-col-2"] {
    /* unset table align="left/right" */
    float: none !important;
    width: 100% !important;

    /* change left/right padding and margins to top/bottom ones */
    margin-bottom: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #eee;*/
    }

    table[class="rnb-col-2-noborder-onright"] {
    /* unset table align="left/right" */
    float: none !important;
    width: 100% !important;

    /* change left/right padding and margins to top/bottom ones */
    margin-bottom: 10px;
    padding-bottom: 10px;
    }

    table[class="rnb-col-2-noborder-onleft"] {
    /* unset table align="left/right" */
    float: none !important;
    width: 100% !important;

    /* change left/right padding and margins to top/bottom ones */
    margin-top: 10px;
    padding-top: 10px;
    }

    table[class="rnb-last-col-2"] {
    /* unset table align="left/right" */
    float: none !important;
    width: 100% !important;
    }

    table[class="rnb-col-1"] {
    /* unset table align="left/right" */
    float: none !important;
    width: 100% !important;
    }

    img[class="rnb-col-3-img"] {
    /**max-width:none !important;**/
    width:100% !important;
    }

    img[class="rnb-col-2-img"] {
    /**max-width:none !important;**/
    width:100% !important;
    }

    img[class="rnb-col-2-img-side-xs"] {
    /**max-width:none !important;**/
    width:100% !important;
    }

    img[class="rnb-col-2-img-side-xl"] {
    /**max-width:none !important;**/
    width:100% !important;
    }

    img[class="rnb-col-1-img"] {
    /**max-width:none !important;**/
    width:100% !important;
    }

    img[class="rnb-header-img"] {
    /**max-width:none !important;**/
    width:100% !important;
    margin:0 auto;
    }

    img[class="rnb-logo-img"] {
    /**max-width:none !important;**/
    width:100% !important;
    }

    td[class="rnb-mbl-float-none"] {
    float:inherit !important;
    }

    .img-block-center{text-align:center!important;}

    .logo-img-center
    {
        float:inherit!important;
    }

    /* tmpl-11 preview */
    .rnb-social-align{margin:0 auto!important; float:inherit!important;}

    /* tmpl-11 preview */
    .rnb-social-center{display:inline-block;}

}</style><!--[if gte mso 11]><style type="text/css">table{border-spacing: 0; }table td {border-collapse: separate;}</style><![endif]--><!--[if !mso]><!--><style type="text/css">table{border-spacing: 0;} table td {border-collapse: collapse;}</style> <!--<![endif]--><!--[if gte mso 15]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]--><!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]--></head><body>

<table border="0" align="center" width="100%" cellpadding="0" cellspacing="0" class="main-template" bgcolor="#f04a16" style="background-color:#f04a16;">

<tbody><tr style="display:none !important; font-size:1px; mso-hide: all;"><td></td><td></td></tr>
<tr>
    <td align="center" valign="top">
    <!--[if gte mso 9]>
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="590" style="width:590px;">
                    <tr>
                    <td align="center" valign="top" width="590" style="width:590px;">
                    <![endif]-->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="max-width:590px!important; width: 590px;">
    <tbody><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <table class="rnb-del-min-width rnb-tmpl-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="min-width:590px; background-color:#f04a16" name="Layout_20" id="Layout_20">
            <tbody><tr>
                <td class="rnb-del-min-width" valign="top" align="center" style="min-width: 590px; background-color: rgb(240, 74, 22);">
                    <table width="100%" cellpadding="0" border="0" align="center" cellspacing="0" style="background-color: rgb(27, 156, 0);">
                        <tbody><tr>
                            <td height="10" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                        <tr>
                            <td align="center" height="20" style="font-size: 13px; color: rgb(255, 255, 255); font-weight: normal; text-align: center; font-family: Arial, Helvetica, sans-serif;">
                                <span style="color: rgb(255, 255, 255); text-decoration: none;">
                                    </span>
                            </td>
                        </tr>
                        <tr>
                            <td height="10" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>
        </td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <div>
            <!--[if mso]>
            <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
            <tr>
            <![endif]-->
            
            <!--[if mso]>
            <td valign="top" width="590" style="width:590px;">
            <![endif]-->
        <table class="rnb-del-min-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="min-width:100%; -webkit-backface-visibility: hidden; line-height: 10px; background-color:#f04a16;" name="Layout_24" id="Layout_24">
            <tbody><tr>
                <td class="rnb-del-min-width" valign="top" align="center" style="min-width: 590px;">
                    <table width="100%" class="rnb-container" cellpadding="0" border="0" bgcolor="#ffffff" align="center" cellspacing="0" style="background-color:#ffffff;">
                        <tbody><tr>
                            <td valign="top" align="center">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tbody><tr>
                                        <td>
                                            <div style="display:block; border-radius:5px; width:590;;max-width:967px !important;border-top:0px None #000;border-right:0px None #000;border-bottom:0px None #000;border-left:0px None #000;border-collapse: separate;border-radius: 0px;">
                                                <div><img border="0" hspace="0" vspace="0" width="590" class="rnb-header-img" alt="" style="display:block; float:left; border-radius: 5px; " src="http://img.mailinblue.com/1624887/images/rnb/original/59cf5eb9e694aa1e17538197.png">
                                                    </div><div style="clear:both;"></div>
                                                </div></td>
                                    </tr>
                                </tbody></table>

                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr></tbody></table>
        <!--[if mso]>
            </td>
            <![endif]-->
            
            <!--[if mso]>
            </tr>
            </table>
            <![endif]-->
    </div></td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <div>
            <!--[if mso]>
            <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
            <tr>
            <![endif]-->
            
            <!--[if mso]>
            <td valign="top" width="590" style="width:590px;">
            <![endif]-->
        <table class="rnb-del-min-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="min-width:100%; background-color:#f04a16;" name="Layout_5">
            <tbody><tr>
                <td class="rnb-del-min-width" align="center" valign="top" bgcolor="#f04a16" style="background-color: #f04a16;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-container" bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); padding-left: 20px; padding-right: 20px; border-collapse: separate; border-radius: 0px; border-bottom: 0px none rgb(200, 200, 200);">

                                    <tbody><tr>
                                        <td height="20" style="font-size:1px; line-height:1px;"> </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" class="rnb-container-padding" bgcolor="#ffffff" style="background-color: #ffffff;" align="left">

                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-columns-container">
                                                <tbody><tr>
                                                    <td class="rnb-force-col" valign="top" style="padding-right: 0px;">

                                                        <table border="0" valign="top" cellspacing="0" cellpadding="0" width="100%" align="left" class="rnb-col-1">

                                                            <tbody><tr>
                                                                <td style="font-size:14px; font-family:Arial,Helvetica,sans-serif, sans-serif; color:#555; line-height: 21px;"><div><strong>Assalamualaikum Warahmatullahi Wabarakatuh</strong></div>

<div> 
<div>Halo <%= name %>,  </div>

<!-- <div> <span style="background-color: transparent;"></span></div> -->
<p>Berikut adalah password kamu untuk masuk ke aplikasi Hasanah Personal.</p>
<p>Password: <strong><%= pass %></strong></p>
</div>

<div> </div>

<div> </div>
</td>
                                                            </tr>
                                                            </tbody></table>

                                                        </td></tr>
                                            </tbody></table></td>
                                    </tr>
                                    <tr>
                                        <td height="20" style="font-size:1px; line-height:1px;border-bottom:0px;"> </td>
                                    </tr>
                                </tbody></table>
                </td>
            </tr>
        </tbody></table><!--[if mso]>
            </td>
            <![endif]-->
            
            <!--[if mso]>
            </tr>
            </table>
            <![endif]-->

        </div></td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <div>
            <!--[if mso]>
            <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
            <tr>
            <![endif]-->
            
            <!--[if mso]>
            <td valign="top" width="590" style="width:590px;">
            <![endif]-->
        <table class="rnb-del-min-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="min-width:100%; background-color:#f04a16;" name="Layout_15">
            <tbody><tr>
                <td class="rnb-del-min-width" align="center" valign="top" bgcolor="#f04a16" style="background-color: #f04a16;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-container" bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); padding-left: 20px; padding-right: 20px; border-collapse: separate; border-radius: 0px; border-bottom: 0px none rgb(200, 200, 200);">

                                    <tbody><tr>
                                        <td height="20" style="font-size:1px; line-height:1px;"> </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" class="rnb-container-padding" bgcolor="#ffffff" style="background-color: #ffffff;" align="left">

                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-columns-container">
                                                <tbody><tr>
                                                    <td class="rnb-force-col" valign="top" style="padding-right: 0px;">

                                                        <table border="0" valign="top" cellspacing="0" cellpadding="0" width="100%" align="left" class="rnb-col-1">

                                                            <tbody><tr>
                                                                <td style="font-size:14px; font-family:Arial,Helvetica,sans-serif, sans-serif; color:#555; line-height: 21px;">
                                                                    
                                                                    <!-- CONTENT BODY-->
                                                                    <div> </div>

<div> </div>

<div><strong>Wassalamualaikum Warahmatullahi Wabarakatuh</strong></div>
</td>
                                                            </tr>
                                                            </tbody></table>

                                                        </td></tr>
                                            </tbody></table></td>
                                    </tr>
                                    <tr>
                                        <td height="20" style="font-size:1px; line-height:1px;border-bottom:0px;"> </td>
                                    </tr>
                                </tbody></table>
                </td>
            </tr>
        </tbody></table><!--[if mso]>
            </td>
            <![endif]-->
            
            <!--[if mso]>
            </tr>
            </table>
            <![endif]-->

        </div></td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <div>
            <!--[if mso]>
            <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
            <tr>
            <![endif]-->
            
            <!--[if mso]>
            <td valign="top" width="590" style="width:590px;">
            <![endif]-->
        <table class="rnb-del-min-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="min-width:100%; -webkit-backface-visibility: hidden; line-height: 10px; background-color:#f04a16;" name="Layout_25" id="Layout_25">
            <tbody><tr>
                <td class="rnb-del-min-width" valign="top" align="center" style="min-width: 590px;">
                    <table width="100%" class="rnb-container" cellpadding="0" border="0" bgcolor="#ffffff" align="center" cellspacing="0" style="background-color:#ffffff;">
                        <tbody><tr>
                            <td valign="top" align="center">
                                <table cellspacing="0" cellpadding="0" border="0">
                                    <tbody><tr>
                                        <td>
                                            <div style="display:block; border-radius:5px; width:590;;max-width:967px !important;border-top:0px None #000;border-right:0px None #000;border-bottom:0px None #000;border-left:0px None #000;border-collapse: separate;border-radius: 0px;">
                                                <div><img border="0" hspace="0" vspace="0" width="590" class="rnb-header-img" alt="" style="display:block; float:left; border-radius: 5px; " src="http://img.mailinblue.com/1624887/images/rnb/original/59cf591ae694aa03f6630ff0.png">
                                                    </div><div style="clear:both;"></div>
                                                </div></td>
                                    </tr>
                                </tbody></table>

                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr></tbody></table>
        <!--[if mso]>
            </td>
            <![endif]-->
            
            <!--[if mso]>
            </tr>
            </table>
            <![endif]-->
    </div></td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <table class="rnb-del-min-width" width="100%" cellpadding="0" border="0" cellspacing="0" style="min-width:590px; background-color:#f04a16;" name="Layout_" id="Layout_">
            <tbody><tr>
                <td class="rnb-del-min-width" valign="top" align="center" bgcolor="#f04a16" style="min-width:590px; background-color:#f04a16;">
                    <table width="100%" cellpadding="0" border="0" height="30" cellspacing="0" bgcolor="#f04a16" style="background-color:#f04a16;">
                        <tbody><tr>
                            <td valign="top" height="30">
                                <img width="20" height="30" style="display:block; max-height:30px; max-width:20px;" alt="" src="http://img.mailinblue.com/new_images/rnb/rnb_space.gif">
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>
        </td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <table class="rnb-del-min-width rnb-tmpl-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="min-width:590px; background-color:#f04a16;" name="Layout_3" id="Layout_3">
            <tbody><tr>
                <td class="rnb-del-min-width" align="center" valign="top" bgcolor="#555" style="min-width:590px; background-color: #555;">
                    <table width="590" class="rnb-container" cellpadding="0" border="0" align="center" cellspacing="0" style="padding-right:20px; padding-left:20px;">
                        <tbody><tr>
                            <td height="10" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="font-size:14px; color:#919191; font-weight:normal; text-align:center; font-family:Arial,Helvetica,sans-serif;"><div>
<div>Email dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini.</div>
</div>
</div>
                                <div style="font-size:14px; font-weight:normal; text-align:center; font-family:Arial,Helvetica,sans-serif;">
                                    </div>
                            </td></tr>
                        <tr>
                            <td height="10" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                        </tbody></table>
                </td>
            </tr>
        </tbody></table>
        </td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <div>

            <!--[if mso]>
            <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
            <tr>
            <![endif]-->
            
            <!--[if mso]>
            <td valign="top" width="590" style="width:590px;">
            <![endif]-->
        
        <table width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="background-color:#f04a16;" name="Layout_28" id="Layout_28"><tbody><tr>
                <td align="center" valign="top" bgcolor="#f04a16" style="background-color: #f04a16;"><table border="0" width="100%" cellpadding="0" cellspacing="0" class="rnb-container" bgcolor="#ffffff" style="height: 0px; background-color: rgb(255, 255, 255); border-radius: 0px; border-collapse: separate; padding-left: 20px; padding-right: 20px;"><tbody><tr>
                            <td class="rnb-container-padding" bgcolor="#ffffff" style="background-color: #ffffff; font-size: px;font-family: ; color: ;">

                                <table border="0" cellpadding="0" cellspacing="0" class="rnb-columns-container" align="center" style="margin:auto;">
                                    <tbody><tr>

                                        <td class="rnb-force-col" align="center">

                                            <table border="0" cellspacing="0" cellpadding="0" align="center" class="rnb-col-1">

                                                <tbody><tr>
                                                    <td height="10"></td>
                                                </tr>

                                                <tr>
                                                    <td style="font-size:18px;font-family:Arial,Helvetica,sans-serif; color:#3c4858; font-weight:normal; text-align:center;">

                                                        <span style="color:#3c4858; font-weight:normal;">Download Aplikasi Hasanah Personal di:</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10"></td>
                                                </tr>
                                                </tbody></table>
                                            </td></tr>
                                </tbody></table></td>
                        </tr>

                    </tbody></table>

                </td>
            </tr>

        </tbody></table><!--[if mso]>
            </td>
            <![endif]-->
            
            <!--[if mso]>
            </tr>
            </table>
            <![endif]-->
    </div></td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <div>
            <!--[if mso]>
            <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
            <tr>
            <![endif]-->
            
            <!--[if mso]>
            <td valign="top" width="590" style="width:590px;">
            <![endif]-->
        <table class="rnb-del-min-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="min-width:100%; background-color:#f04a16;" name="Layout_23" id="Layout_23">
            <tbody><tr>
                <td class="rnb-del-min-width" align="center" valign="top" bgcolor="#f04a16" style="background-color: #f04a16;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-container" bgcolor="#ffffff" style="max-width: 100%; min-width: 100%; table-layout: fixed; background-color: rgb(255, 255, 255); border-radius: 0px; border-collapse: separate; padding-left: 20px; padding-right: 20px;">
                        <tbody><tr>
                            <td height="0" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                        <tr>
                            <td valign="top" class="rnb-container-padding" bgcolor="#ffffff" style="background-color: #ffffff;" align="left">

                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-columns-container">
                                    <tbody><tr>
                                        <td class="rnb-force-col" width="265" valign="top" style="padding-right: 20px;">
                                            <table border="0" valign="top" cellspacing="0" cellpadding="0" align="left" class="rnb-col-2" width="265">
                                                <tbody><tr>
                                                    <td width="100%" class="img-block-center" valign="top" align="center">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" valign="top" align="center" class="img-block-center">
                                                                    <table style="display: inline-block;" cellspacing="0" cellpadding="0" border="0">
                                                                        <tbody><tr>
                                                                            <td>
                                                                                <div style="border-top:0px None #000;border-right:0px None #000;border-bottom:0px None #000;border-left:0px None #000;display:inline-block;"><div><img border="0" width="264" hspace="0" vspace="0" alt="" class="rnb-col-2-img" src="http://img.mailinblue.com/1624887/images/rnb/original/59cf5d4ae694aa3deb6827c1.png" style="vertical-align: top; max-width: 372px; float: left;"></div><div style="clear:both;"></div>
                                                                                </div>
                                                                        </td>
                                                                        </tr>
                                                                    </tbody></table>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table></td>
                                                </tr><tr>
                                                    <td height="0" class="col_td_gap" style="font-size:1px; line-height:1px;"> </td>
                                                </tr><tr>
                                                    <td style="font-size:14px; font-family:Arial,Helvetica,sans-serif, sans-serif; color:#3c4858; line-height: 21px;">
                                                        <div></div>
                                                    </td>
                                                </tr>
                                                </tbody></table>

                                            </td><td class="rnb-force-col" width="265" valign="top" style="padding-right: 0px;">
                                            <table border="0" valign="top" cellspacing="0" cellpadding="0" align="left" class="rnb-last-col-2" width="265">
                                                <tbody><tr>
                                                    <td width="100%" class="img-block-center" valign="top" align="left">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" valign="top" align="left" class="img-block-center">
                                                                    <table style="display: inline-block;" cellspacing="0" cellpadding="0" border="0">
                                                                        <tbody><tr>
                                                                            <td>
                                                                                <div style="border-top:0px None #000;border-right:0px None #000;border-bottom:0px None #000;border-left:0px None #000;display:inline-block;"><div><img border="0" width="264" hspace="0" vspace="0" alt="" class="rnb-col-2-img" src="http://img.mailinblue.com/1624887/images/rnb/original/59cf5d85e694aa2e431da406.jpg" style="vertical-align: top; max-width: 800px; float: left;"></div><div style="clear:both;"></div>
                                                                                </div>
                                                                        </td>
                                                                        </tr>
                                                                    </tbody></table>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table></td>
                                                </tr><tr>
                                                    <td height="0" class="col_td_gap" style="font-size:1px; line-height:1px;"> </td>
                                                </tr><tr>
                                                    <td style="font-size:14px; font-family:Arial,Helvetica,sans-serif, sans-serif; color:#3c4858; line-height: 21px;">
                                                        <div></div>
                                                    </td>
                                                </tr>
                                                </tbody></table>

                                            </td></tr>
                                </tbody></table></td>
                        </tr>
                        <tr>
                            <td height="0" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                    </tbody></table>

                </td>
            </tr>
        </tbody></table><!--[if mso]>
            </td>
            <![endif]-->
            
            <!--[if mso]>
            </tr>
            </table>
            <![endif]-->
        </div></td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <table class="rnb-del-min-width rnb-tmpl-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="min-width:590px; background-color:#f04a16;" name="Layout_21" id="Layout_21">
            <tbody><tr>
                <td class="rnb-del-min-width" align="center" valign="top" bgcolor="#dfe1e6" style="min-width:590px; background-color: #dfe1e6;">
                    <table width="590" class="rnb-container" cellpadding="0" border="0" align="center" cellspacing="0">
                        <tbody><tr>
                            <td height="20" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                        <tr>
                            <td valign="top" class="rnb-container-padding" style="font-size: 14px; font-family: Arial,Helvetica,sans-serif; color: #888888;" align="left">

                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-columns-container">
                                    <tbody><tr>
                                        <td class="rnb-force-col" style="padding-right:20px; padding-left:20px; mso-padding-alt: 0 0 0 20px;" valign="top">

                                            <table border="0" valign="top" cellspacing="0" cellpadding="0" width="264" align="left" class="rnb-col-2" style="border-bottom:0;">

                                                <tbody><tr>
                                                    <td valign="top">
                                                        <table cellpadding="0" border="0" align="left" cellspacing="0" class="rnb-btn-col-content">
                                                            <tbody><tr>
                                                                <td valign="middle" align="left" style="font-size:14px; font-family:Arial,Helvetica,sans-serif; color:#888888;" class="rnb-text-center">
                                                                    <div><div>Ikuti BNI Syariah di:  <a href="#" style="text-decoration: underline; color: rgb(102, 102, 102);">http://www.bnisyariah.co.id/</a></div>
</div>
                                                                </td></tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                            </td>
                                        <td class="rnb-force-col rnb-social-width" valign="top" style="mso-padding-alt: 0 20px 0 0; padding-right: 15px;">

                                            <table border="0" valign="top" cellspacing="0" cellpadding="0" width="246" align="right" class="rnb-last-col-2">

                                                <tbody><tr>
                                                    <td valign="top">
                                                        <table cellpadding="0" border="0" cellspacing="0" class="rnb-social-align" style="float: right;" align="right">
                                                            <tbody><tr>
                                                                <td valign="middle" class="rnb-text-center" ng-init="width=setSocialIconsBlockWidth(item.sbLength)" width="125" align="right">
                                                                    <div class="rnb-social-center">
                                                                    <table align="left" style="float:left; display: inline-block; mso-table-lspace:0pt; mso-table-rspace:0pt;" border="0" cellpadding="0" cellspacing="0">
                                                                    <tbody><tr>
                                                                            <td style="padding:0px 5px 5px 0px; mso-padding-alt: 0px 2px 5px 0px;" align="left">
                                                                    <span style="color:#ffffff; font-weight:normal;">
                                                                        <img alt="Facebook" border="0" hspace="0" vspace="0" style="vertical-align:top;" target="_blank" src="http://img.mailinblue.com/new_images/rnb/theme2/rnb_ico_fb.png"></span>
                                                                    </td></tr></tbody></table>
                                                                    </div><div class="rnb-social-center">
                                                                    <table align="left" style="float:left; display: inline-block; mso-table-lspace:0pt; mso-table-rspace:0pt;" border="0" cellpadding="0" cellspacing="0">
                                                                    <tbody><tr>
                                                                            <td style="padding:0px 5px 5px 0px; mso-padding-alt: 0px 2px 5px 0px;" align="left">
                                                                    <span style="color:#ffffff; font-weight:normal;">
                                                                        <img alt="Twitter" border="0" hspace="0" vspace="0" style="vertical-align:top;" target="_blank" src="http://img.mailinblue.com/new_images/rnb/theme2/rnb_ico_tw.png"></span>
                                                                    </td></tr></tbody></table>
                                                                    </div><div class="rnb-social-center">
                                                                    <table align="left" style="float:left; display: inline-block; mso-table-lspace:0pt; mso-table-rspace:0pt;" border="0" cellpadding="0" cellspacing="0">
                                                                    <tbody><tr>
                                                                            <td style="padding:0px 5px 5px 0px; mso-padding-alt: 0px 2px 5px 0px;" align="left">
                                                                    <span style="color:#ffffff; font-weight:normal;">
                                                                        <img alt="Instagram" border="0" hspace="0" vspace="0" style="vertical-align:top;" target="_blank" src="http://img.mailinblue.com/new_images/rnb/theme2/rnb_ico_ig.png"></span>
                                                                    </td></tr></tbody></table>
                                                                    </div></td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                            </td>
                                    </tr>
                                </tbody></table></td>
                        </tr>
                        <tr>
                            <td height="20" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                    </tbody></table>

                </td>
            </tr>
        </tbody></table>
        </td>
</tr><tr>

    <td align="center" valign="top" bgcolor="#f04a16" style="background-color:#f04a16;">

        <table class="rnb-del-min-width rnb-tmpl-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#f04a16" style="min-width:590px; background-color:#f04a16;" name="Layout_4" id="Layout_4">
            <tbody><tr>
                <td class="rnb-del-min-width" align="center" valign="top" bgcolor="#333" style="min-width:590px; background-color: #333;">
                    <table width="590" class="rnb-container rnb-yahoo-width" cellpadding="0" border="0" align="center" cellspacing="0" style="padding-right:20px; padding-left:20px;">
                        <tbody><tr>
                            <td height="20" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                        <tr>
                            <td style="font-size:14px; color:#919191; font-weight:normal; text-align:center; font-family:Arial,Helvetica,sans-serif;">
                                <div><div>© 2011-2017, PT Bank BNI Syariah</div>
</div>
                            </td></tr>
                        <tr>
                            <td height="20" style="font-size:1px; line-height:1px;"> </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
        </tbody></table>
        </td>
</tr></tbody></table>
        <!--[if gte mso 9]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                    </td>
    </tr>
    </tbody></table>

</body></html>