<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
 <html>
     <head>
        <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=iso-8859-1">
    <script>
    
    function submitPayuForm() {
      var payuForm = document.forms.payuForm;
      payuForm.submit();
    }
  </script>
  </head>
     <body onload="submitPayuForm()">
    <h2>Processing Payment...</h2>
    <br/>
    <form style="display:none" action="<%=data.action%>" method="post" name="payuForm">
        <input name="MALLID" type="hidden" value="<%=data.mallId%>" >
        <input name="BASKET" type="hidden"  value="<%=data.basketName%>" >
        <input name="CHAINMERCHANT" type="hidden" value="NA" >
        <input name="AMOUNT" type="hidden" value="<%=data.amount%>" >
        <input name="PURCHASEAMOUNT" type="hidden" value="<%=data.amount%>" >
        <input name="TRANSIDMERCHANT" type="hidden" value="<%=data.transIdMarchant%>" >
        <input name="WORDS" type="hidden" value="<%=data.words%>" >
        <input name="CURRENCY" type="hidden" value="360" >
        <input name="PURCHASECURRENCY" type="hidden" value="360" >
        <input name="COUNTRY" type="hidden" value="ID" >
        <input name="SESSIONID" type="hidden" value="<%=data.sessionId%>" >
        <input name="REQUESTDATETIME" type="hidden"  value="<%=data.dateTime%>" >
        <input name="NAME" type="hidden"  value="<%=data.name%>" >
        <input name="EMAIL" type="hidden"  value="<%=data.email%>">
        <input name="PAYMENTCHANNEL" type="hidden" value="<%=data.paymentChannel%>">
       
    </form>
  </body>
 </html>
         