<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
 <html>
     <head>
         <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=iso-8859-1">
     </head>
     <script>
    function submit() {
     
      var localhost = document.forms.localhost;
      localhost.submit();
    }
  </script>
     <body onload="submit()">
      <h2>Redirecting payment...</h2>
        <form style="display:none" method="post" action="http://demo.proapptive.in/hasanahadmin" name="localhost">
            <input type="submit" value="Submit" /></td>
         </form>
     </body>
 </html>
         